
<head>
    <title>Гестион</title>
</head>
<body>
    <table border="0" width=100% cellpadding="5" cellpadding="0" align="center">
        <tr>
            <td>
            <td>
                <H1 align="center">АО</H1>
                <p>1 сентября 2014 закрытые и открытые акционерные общества (ЗАО и ОАО) &nbsp;<a href="/news/12/1283/">прекратили свое существование</a>. С этого момента юридические лица могут продолжать деятельность в организационно-правовых формах, предусмотренных новой редакцией главы 4 части первой ГК, в частности, в форме публичных и непубличных акционерных обществ.&nbsp;</p>
            
                <p>Действующие ЗАО и ОАО должны принять принципиальное решение – продолжать оставаться акционерным обществом и&nbsp;<a href="/registraciya-firm/registraciya-izmenenij/">внести изменения</a>&nbsp;в свои учредительные документы, либо&nbsp;<a href="/registraciya-firm/likvidaciya-firm/reorganizaciya/">преобразоваться</a>&nbsp;в ООО или производственный кооператив.</p>
              
                <h2><span id="Vidy_akcionernyh_obsestv">Виды акционерных обществ</span></h2>
            
                <p>Акционерное общество (АО) является самой крупной формой коммерческой организации. При этом действующее законодательство различает публичные и непубличные акционерные общества.</p>
                
                <ul><li>Публичным обществом (ПАО) является акционерное общество, акции которого и ценные бумаги которого, конвертируемые в его акции, публично размещаются (путем открытой подписки) или публично обращаются на условиях, установленных законами о ценных бумагах. Правила о публичных обществах применяются также к акционерным обществам, устав и фирменное наименование которых содержат указание на то, что общество является публичным. Кроме того, акционерные общества, созданные до 1 сентября 2014 года и отвечающие признакам ПАО, признаются публичными вне зависимости от указания в их фирменном наименовании на то, что общество является публичным.</li><li>Акционерное общество, которое не отвечает признакам, указанным в пункте выше, признается непубличным (НПАО).</li></ul>
               
                <h2><span id="Osobennosti_publicnyh_akcionernyh_obsestv_PAO">Особенности публичных акционерных обществ (ПАО)</span></h2>
              
                <p>Публичные акционерные общества (ПАО) обладают важным преимуществом — они вправе осуществлять свободную продажу своих акций среди неопределенного круга лиц, а при отчуждении акций не требуется обязательного получения чьего-либо согласия на такое отчуждение. Кроме того, для акционерных обществ не установлены ограничения по числу акционеров и максимальному размеру уставного капитала.</p>
               
                <p>Таким образом, форма ПАО позволяет объединить практически неограниченное число акционеров, как крупных, так и мелких, и привлечь дополнительное инвестиционное финансирование. По этой причине акционерная форма организации бизнеса в наибольшей степени присуща крупному бизнесу, особенно в сфере промышленности, торговли, банковской и страховой деятельности.</p>
               
                <p>Следует знать, что к деятельности публичного акционерного общества, в отличие от непубличного, предъявляются существенные требования со стороны регулятора, поскольку деятельность такого общества может затронуть интересы большого или неограниченного круга лиц.</p>
               
                <p>Во-первых, это требования к раскрытию информации. Публичному раскрытию подлежит следующая информация ПАО: годовой отчет, годовая бухгалтерская отчетность, проспект эмиссии ценных бумаг (в определенных случаях), сообщения о проведении общего собрания акционеров, сообщения о существенных фактах, иные сведения.</p>
             
                <p>Во-вторых, законодательство в целом жестко регламентирует деятельность публичных АО – вопросы создания, управления, компетенции органов и другие. По смыслу законодателя, к публичным относятся акционерные общества, которые размещают акции на рынке ценных бумаг, следовательно, чтобы быть открытыми для финансового рынка, они должны отвечать признакам максимальной прозрачности.</p>
             
                <p>Согласно законодательству публичное акционерное общество не может быть создано путем его учреждения или в рамках реорганизации в форме слияния, разделения, выделения, преобразования. Пунктом 1 статьи 7.1 Федерального закона от 26.12.1995 N 208-ФЗ “об акционерных обществах” предусмотрена специальная процедура получения статуса публичного акционерного общества, которая предполагает, что такой статус приобретает уже существующее акционерное общество. При этом акционерное общество, реорганизуемое путем присоединения к нему другого общества, может в результате такого присоединения стать публичным, при условии соблюдения процедуры приобретения такого статуса.</p>
               
                <h2><span id="Osobennosti_nepublicnyh_akcionernyh_obsestv_NPAO">Особенности непубличных акционерных обществ (НПАО)</span></h2>
              
                <p>Непубличные акционерные общества фактически являются самой близкой заменой действовавшим ранее ЗАО. Однако, в отличие от публичных АО, в фирменном наименовании такой организации не обязательно указание на непубличность.</p>
            
                <p>Уставный капитал непубличного АО формируется в виде акций, которые распределяются между акционерами АО.</p>
             
                <p>Непубличные АО не могут размещать акции среди неограниченного круга лица (путем открытой подписки). При этому непубличному акционерному обществу доступны все остальные способы размещения дополнительных акций: распределение среди акционеров, закрытая подписка, конвертация в акции иных конвертируемых ценных бумаг, а также размещение дополнительных акций в рамках реорганизации, при которых всегда определен либо конкретный перечень лиц, либо круг лиц, среди которых происходит размещение ценных бумаг.</p>
              
                <p>При создании непубличного АО важно учитывать следующее:</p>
        
                <ul><li>минимальное и максимальное количество акционеров непубличного АО не установлено, т.е. такое общество может быть создано одним лицом;</li><li>минимальный размер уставного капитала непубличного АО аналогичен ООО и составляет 10 000 рублей;</li><li>До создания акционерного общества необходимо зарегистрировать выпуск (эмиссию) его акций, а реестр акционеров передать на ведение лицензированному реестродержателю;</li><li>ежегодная финансовая отчетность непубличного АО подлежит обязательному аудиту.</li></ul>
             
                <h2><span id="Dopolnitelnye_uslugi_dla_akcionernyh_obsestv">Дополнительные услуги для акционерных обществ</span></h2>
               
                <ul><li><a href="/registraciya-firm/vypusk-akcij/">Регистрация выпуска акций</a>.</li><li><a href="/registraciya-firm/vypusk-akcij/#ch">Помощь в передаче реестра акционеров реестродержателю</a>.</li></ul>
               
                <p>Мы проконсультируем Вас по любым вопросам, касающимся изменений законодательства в части регистрации акционерных обществ.</p>
               
                <p>Все наши специалисты обладают многолетним опытом работы в области регистрации акционерных обществ, опытом перерегистрации ЗАО и ОАО, сопровождению регистрации выпуска акций, регистрации изменений АО, ликвидации (закрытия) акционерных обществ, а также помогут решить другие сопутствующие вопросы.</p>
               				</div>
                </div>
                </div>
                </div>
                </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-ae0db3d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ae0db3d" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e401a0b" data-id="e401a0b" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                

            </td>
         
        </tr>

    </table>


</body>

