<html>
<head>
    <title>Гестион</title>
</head>
<body>
    <table border="0" width=100% cellpadding="0" cellspacing="0" align="center" bgcolor="#ff8000">
        <tr>
            <td align="left" width="200" height="111"><img src="images/logo.jpg" <!--width="200" height="111"--> <!--align="middle"--></td>
            <td align="middle"><H1>Гестион</H1></td>
            <td width="200">
                <table cellpadding="5" width="100%">
                    <tr>
                        <td align="right"><input type="text" value="логин"></td>
                    </tr>
                    <tr>
                        <td align="right"><input type="password" value="логин"></td>
                    </tr>
                    <tr>
                        <td align="right"><input type="submit" value="войти">&nbsp;<A HREF="#">регистрация</A></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table border="0" width=100% cellpadding="5" cellpadding="0" align="center" bgcolor="#ffba2c">
        <tr>
            <td align="center"><a href="#">Главная</a></td>
            <td align="center"><a href="#">О нас</a></td>
            <td align="center"><a href="#">История фирмы</a></td>
            <td align="center"><a href="#">Сотрудники</a></td>
            <td align="right"><input type="text" value="поиск"> <input type="button" value="искать"></td>
        </tr>
    </table>
 
    <table border="0" width=100% cellpadding="5" cellpadding="0" align="center">
        <tr>
            <td width="150" cellpadding="5" valign="top" align="center" bgcolor="#ff8000">
                <a href="index.html">Главная</a><BR>
                <a href="us.html">О нас</a><BR>
                <a href="catalog.html">Каталог</a><BR>
                <a href="contacts.html">Контакты</a>
            <td>
            <td>
                <H1 align="center">Каталог услуг</H1>
                <H2 align="center">Pегистрация фирм</H2>
                <table align="center" cellpadding="10">
                    <tr>
                        <td align="center"><a href="ip.html"><img src="images/ip.png" width="130" height="130" alt="ИП"></a></td>
                        <td align="center"><a href="ooo.html"><img src="images/ooo.png" width="130" height="130" alt="OOO"></a></td>
                        <td align="center"><a href="ao.html"><img src="images/ao.png" width="130" height="130" alt="AO"></a></td>
                    </tr>
                    <tr>
                        <td align="center"><a href="ip.html"><b>ИП</b></a></td>
                        <td align="center"><a href="ooo.html"><b>OOO</b></a></td>
                        <td align="center"><a href="ao.html"><b>AO</b></a></td>
                    </tr>
                    <tr>
                        <td align="center"><a href="ip.html"></a> 4 000p</td>
                        <td align="center"><a href="ooo.html"></a> 6 900p</td>
                        <td align="center"><a href="ao.html"></a> 13 900p</td>
                    </tr>
                </table>
                <br><br><br><br><br><br><br><br><br><br><br><br>
            </td>
            <td width="190" cellpadding="5" valign="top" align="center" bgcolor="#ff8000">
                <a href="https://yandex.ru/maps/org/gestion/111981490684/reviews/?ll=37.569657%2C55.762256&z=18">
                    <img src="images/5-star.jpeg" width="170" height="111" align="middle">
                </a>
                <BR><BR>
                <a href="https://www.google.com/search?q=%D0%B3%D0%B5%D1%81%D1%82%D0%B8%D0%BE%D0%BD+%D0%BC%D0%BE%D1%81%D0%BA%D0%B2%D0%B0+%D0%BA%D1%80%D0%B0%D1%81%D0%BD%D0%B0%D1%8F+%D0%BF%D1%80%D0%B5%D1%81%D0%BD%D1%8F+24&sxsrf=ALeKk01Mb2_GU_LFxLtKeNTcAqb_uRJdNA%3A1625671362218&ei=wsblYJX6DK2yrgTNjKaACA&oq=%D0%B3%D0%B5%D1%81%D1%82%D0%B8%D0%BE%D0%BD+%D0%BC%D0%BE%D1%81%D0%BA%D0%B2%D0%B0+%D0%BA%D1%80%D0%B0%D1%81%D0%BD%D0%B0%D1%8F+%D0%BF%D1%80%D0%B5%D1%81%D0%BD%D1%8F+24&gs_lcp=Cgdnd3Mtd2l6EAMyBQghEKABOgcIABBHELADOgYIABAWEB46BAghEBU6BwghEAoQoAFKBAhBGABQ-3NYjZ4BYOCiAWgBcAJ4AIABsQGIAZ4MkgEEMTguMZgBAKABAaoBB2d3cy13aXrIAQjAAQE&sclient=gws-wiz&ved=0ahUKEwiV48PgodHxAhUtmYsKHU2GCYAQ4dUDCA4&uact=5#lrd=0x46b54abe5d52742d:0xa998db88ab6d64c9,1,,,">
                    <img src="images/google.png" width="170" height="111" align="middle">
                </a>
                <BR><BR>
                <a href="https://2gis.ru/moscow/firm/4504128908852077/tab/reviews">
                    <img src="images/2gis.png" width="170" height="111" align="middle">
                </a>
            </td>
        </tr>

    </table>

</body>

<footer>
    
    <table border="0" width=100% cellpadding="5" cellpadding="0" align="center" bgcolor="#ffba2c">
        <tr>
            <td>
                <p align="center">
                    © Все права защищены - 2024 <br> <a href="https://gestion.ru/wp-content/uploads/2022/07/politika-konfidenczialnosti.pdf" target="_blank" rel="noopener">Политикa конфиденциальности</a>
                </p>
            </td>
        </tr>
    </table>
</footer>

</html>