
<head>
	<title>Гестион</title>
</head>
<body>
    <div class=" info">
        <H1>Наши контакты</H1>
      
            <strong>Режим работы</strong>: 10.00 — 19.00. <br>
            <strong>Выходные дни</strong>: суббота, воскресенье.
       
        <p>
            <strong>Позвонить нам:</strong>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
            </svg>
            8-800-555-83-25
            <br>
            <strong>Написать в соцсети:</strong>
            <a href="https://vk.com/gestionrus">Вконтакте</a> и <a href="https://t.me/GestionRusBot">Телеграм</a>
            <br>
            <strong>Адрес:</strong> 123376, Москва, ул. Красная Пресня, д. 24, Бизнес-центр «Сибирь», 1-й вход, 3 этаж.
        </p>
        <div style="position:relative;overflow:hidden;">
            <a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a>
            <a href="https://yandex.ru/maps/213/moscow/?from=mapframe&ll=37.571399%2C55.761920&mode=usermaps&source=mapframe&um=constructor%3A64deab47534f3960793a0708c4a1e18d51c09950c9f570467daa3427e7122ae2&utm_medium=mapframe&utm_source=maps&z=15" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс Карты — транспорт, навигация, поиск мест</a><iframe src="https://yandex.ru/map-widget/v1/?from=mapframe&ll=37.571399%2C55.761920&mode=usermaps&source=mapframe&um=constructor%3A64deab47534f3960793a0708c4a1e18d51c09950c9f570467daa3427e7122ae2&utm_source=mapframe&z=15" width="500" height="350" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
        </div>
    </div>
</body>
