


<body class="b">

    <main class="content">
        <div class="slider">
            <div class="slider-container">
                <div class="item">
                    <img src="/images/work.png" alt="Work">
                </div>
                <div class="item">
                    <img src="/images/top 50.png" alt="Top 50">
                </div>
               
                <div class="item">
                <img src="/images/work.png" alt="Work">
                </div>
                <div class="item">
                <img src="/images/client.png" alt="Client">
                </div>
                <div class="item">
                <img src="/images/top 50.png" alt="Top 50">
                </div>
                <div class="item">
                <img src="/images/top30.png" alt="Top 30">
                 </div>
                <div class="item">
                    <img src="/images/work.png" alt="Work">
                </div>
                <div class="item">
                    <img src="/images/client.png" alt="Client">
                </div>
                <div class="item">
                    <img src="/images/top 50.png" alt="Top 50">
                </div>
                <div class="item">
                    <img src="/images/top30.png" alt="Top 30">
                </div>
                <div class="item">
                    <img src="/images/client.png" alt="Client">
                </div>
                <div class="item">
                    <img src="/images/top 50.png" alt="Top 50">
                </div>
                <div class="item">
                    <img src="/images/top30.png" alt="Top 30">
                </div>
                <div class="item">
                    <img src="/images/work.png" alt="Work">
                </div>
                <div class="item">
                    <img src="/images/client.png" alt="Client">
                </div>
                <div class="item">
                    <img src="/images/top 50.png" alt="Top 50">
                </div>
                <div class="item">
                    <img src="/images/top30.png" alt="Top 30">
                </div>
            </div>
        </div>
        <section class="main-info">
           
            <h1>Юридические и бухгалтерские услуги</h1>
            <br></br>
            <p>

              
                Предлагаем корпоративным клиентам и частным лицам услуги в области правового и финансового консалтинга: юридические услуги, бухгалтерские услуги, регистрация и ликвидация фирм, регистрация оффшоров, а также услуги в сфере международного налогового планирования.
            </p>
            <p>
                Мы работаем с <span style="color: red;">2005</span> года. Имеем более <span style="color: green;">170</span> положительных отзывов от клиентов.
                <br />
                Наша компания находится в <b>ТОП-30 RAEX</b>: юридический консалтинг в России и в <i>ТОП-50 RAEX</i>: бухгалтерский и налоговый учет в России.
            </p>
               </section>
    </main>
    @* <footer class="border-top footer text-muted">
        <p class="foot" align="center">
            © Все права защищены - 2024 <br> <a href="https://gestion.ru/wp-content/uploads/2022/07/politika-konfidenczialnosti.pdf" target="_blank" link="#000000" rel="noopener">Политикa конфиденциальности</a>
        </p>
    </footer> *@
</body>

