<html>
<head>
    <title>Гестион</title>
</head>
<body>
    <table border="0" width=100% cellpadding="0" cellspacing="0" align="center" bgcolor="#ff8000">
        <tr>
            <td align="left" width="200" height="111"><img src="images/logo.jpg" <!--width="200" height="111"--> <!--align="middle"--></td>
            <td align="middle"><H1>Гестион</H1></td>
            <td width="200">
                <table cellpadding="5" width="100%">
                    <tr>
                        <td align="right"><input type="text" value="логин"></td>
                    </tr>
                    <tr>
                        <td align="right"><input type="password" value="логин"></td>
                    </tr>
                    <tr>
                        <td align="right"><input type="submit" value="войти">&nbsp;<A HREF="#">регистрация</A></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table border="0" width=100% cellpadding="5" cellpadding="0" align="center" bgcolor="#ffba2c">
        <tr>
            <td align="center"><a href="#">Главная</a></td>
            <td align="center"><a href="#">О нас</a></td>
            <td align="center"><a href="#">История фирмы</a></td>
            <td align="center"><a href="#">Сотрудники</a></td>
            <td align="right"><input type="text" value="поиск"> <input type="button" value="искать"></td>
        </tr>
    </table>
   
    <table border="0" width=100% cellpadding="5" cellpadding="0" align="center">
        <tr>
            <td width="150" cellpadding="5" valign="top" align="center" bgcolor="#ff8000">
                <a href="index.html">Главная</a><BR>
                <a href="us.html">О нас</a><BR>
                <a href="catalog.html">Каталог</a><BR>
                <a href="contacts.html">Контакты</a>
            <td>
            <td>
                <H1 align="center">ИП</H1>
                Индивидуальный предприниматель, или предприниматель без образования юридического лица (ПБОЮЛ) - достаточно распространенная форма ведения небольшого  и среднего бизнеса в России, особенно в сфере мелкого производства, торговли, работ и услуг. Как правило, это бизнес одного лица, которое ведет его лично от своего имени, либо с привлечением наемных работников, но и все предпринимательские риски несет самостоятельно. </p>
                <h2><span id="Preimusestva_registracii_v_forme_IP">Преимущества регистрации в форме ИП</span></h2>
                <p>
                    Среди преимуществ формы индивидуального предпринимателя перед юридическими лицами (ООО, АО) можно выделить:
                </p>
                <ul>
                    <li>
                        Упрощенный порядок регистрации и прекращения деятельности индивидуального предпринимателя. Физическое лицо подлежит регистрации в качестве индивидуального предпринимателя только по паспорту. Никаких учредительных документов (устава) не готовится, уставный капитал, в отличие от юридических лиц, не предусмотрен. <br>
                        <br>
                        Выйти из бизнеса индивидуальному предпринимателю очень просто - достаточно зарегистрировать прекращение деятельности в регистрирующем органе, что займет по времени около недели, в то время как юридическому лицу прекратить бизнес гораздо сложнее - нужно соблюсти официальную процедуру ликвидации компании, которая может занимать несколько месяцев, и погасить все имеющиеся задолженности.<br>
                        <br>
                    </li>
                    <li>
                        Для индивидуальных предпринимателей предусмотрен более низкий, чем для юридических лиц, размер штрафов за административные правонарушения. Тем не менее, за некоторые административные правонарушения, предусмотренные КоАП, лица, осуществляющие предпринимательскую деятельность без образования юридического лица, несут административную ответственность как юридические лица.<br>
                        <br>
                    </li>
                    <li>Вся выручка, полученная от ведения предпринимательской деятельности, является собственностью предпринимателя. ИП может использовать выручку по своему усмотрению. Законодательство по-прежнему разрешает индивидуальным предпринимателям расходовать деньги, поступившие в кассу или на расчетный счет, на личные нужды и в любой промежуток времени.</li>
                    <p>
                        В отличие от этого, участники или акционеры коммерческих организаций вправе получать прибыль от деятельности компании только в порядке выплаты дивидендов после уплаты налогов и обязательных платежей и не чаще одного раза в квартал.
                    </p>
                    <p>
                        При этом, на распределяемую участникам прибыль юридическое лицо дополнительно уплачивает налог на дивиденды.
                    </p>
                    <li>Индивидуальный предприниматель вправе работать один или нанимать работников, никаких ограничений по количеству нанимаемых лиц законодательством не установлено. Однако, слишком большое число работников может быть невыгодно самому предпринимателю, т.к. увеличит его налоговую нагрузку: при упрощенной системе налогообложения не должно быть более ста сотрудников, при патентной системе - не может быть более пятнадцати.</li>
                </ul>
                <h2><span id="Drugie_osobennosti_IP">Другие особенности ИП</span></h2>
                <ul>
                    <li>Индивидуальный предприниматель несет ответственность по обязательствам, связанным с ведением предпринимательской деятельности, в том числе своим личным имуществом (тогда как участники/акционеры ООО, АО несут ответственность только в пределах стоимости долей в уставном капитале или стоимости принадлежащих им акций); </li>
                    <li>Индивидуальный предприниматель, в отличие от юридического лица, обладает специальной правоспособностью, т.е. вправе заниматься только теми видами деятельности, которые он внес в ЕГРИП, а также не вправе заниматься некоторыми видами деятельности (например, производством и торговлей алкоголем, страхованием, деятельностью ломбардов и др.);</li>
                    <li>Индивидуальные предприниматели были лишены упрощенного порядка ведения бухгалтерского учета и теперь они ведут учет в полном объеме, наравне с юридическими лицами. Исключение составляют лишь ИП, использующие патентную систему налогообложения.</li>
                    <li>По налогообложению принципиальных отличий от коммерческих организаций индивидуальный предприниматель не имеет. И ООО, и ИП могут использовать общую или упрощенную систему налогообложения. Однако, только индивидуальные предприниматели вправе использовать патентную систему. Разница также может быть в ставках налога и особенностях исчисления. Например, при использовании общей системы налогообложения ставка налога на доходы физического лица, полученные от ведения им предпринимательской деятельности, составляет 13 % (ставка налога на прибыль организации - 20%).</li>
                    <li>Индивидуальные предприниматели, имеющие наемных работников, исчисляют и удерживают НДФЛ с выплачиваемой заработной платы, а также уплачивают взносы в Пенсионный фонд и Фонд социального страхования наравне с юридическими лицами. </li>
                </ul>
                <h2><span id="Poradok_registracii_IP">Порядок регистрации ИП</span></h2>
                <p>
                    Зарегистрировать ИП возможно только по месту постоянного проживания (прописки), при этом деятельность можно вести на территории всей страны. Можно зарегистрировать ИП по месту временной регистрации по отсутствии в паспорте штампа о постоянной регистрации.
                </p>
                <p>
                    В случае, если Вашим местом постоянного проживания по паспорту является другой регион России (отличный от адреса постоянной регистрации), Вы можете как зарегистрировать ИП дистанционно (с помощью личной электронной подписи или обратившись к нотариусу), так и рассмотреть возможность <a href="/registraciya-firm/registraciya-ooo/" target="_blank">регистрации ООО</a> с предоставлением юридического адреса.
                </p>
                <p>
                    Для регистрации в качестве индивидуального предпринимателя Вам потребуется предоставить специалисту только два документа - паспорт и свидетельство ИНН. Дополнительно указываются сведения о видах экономической деятельности.
                </p>
                <p>
                    Для иностранных граждан предоставляется нотариально заверенный перевод паспорта и разрешение на временное проживание, либо вид на жительство.
                </p>
                <p>
                    После государственной регистрации в качестве индивидуального предпринимателя лицо автоматически ставится на учет в Пенсионном фонде для дальнейшей сдачи отчетности и уплаты страховых взносов на свою будущую пенсию.
                </p>
                <p>Обращаем Ваше внимание, что по индивидуальному предпринимателю начисляются взносы на обязательное пенсионное страхование и на обязательное медицинское страхование начисляются весь срок регистрации физического лица в качестве индивидуального предпринимателя вне зависимости от того, осуществляет он фактически предпринимательскую деятельность или нет. Чтобы не пришлось оплачивать начисленные взносы, необходимо подать либо заявление о прекращении деятельности ИП, либо заявление об освобождении от уплаты страховых взносов (если такое освобождение возможно в соответствии со статьей 430 Налогового кодекса).  </p>
                <p>
                    При принятии на работу сотрудников индивидуальный предприниматель дополнительно подлежит постановке на учет в Пенсионном фонде и Фонде социального страхования для уплаты страховых взносов на своих работников. Постановка на учет должна быть осуществлена в течение пяти рабочих дней с момента заключения первого рабочего контракта. За несвоевременное уведомление предусмотрена административная ответственность в виде существенных штрафов.
                </p>
                <h2><span id="Poradok_likvidacii_prekrasenia_deatelnosti_IP">Порядок ликвидации (прекращения деятельности) ИП</span></h2>
                <p>
                    Для прекращения деятельности в качестве индивидуального предпринимателя необходимо внести соответствующие сведения в Единый государственный реестр индивидуальных предпринимателей.
                </p>
                <p>
                    При этом, справку об отсутствии задолженности перед Пенсионным фондом больше не требуется получать до подачи указанных сведений. Регистрирующий налоговый орган самостоятельно получает данные сведения из Пенсионного фонда путем межведомственного запроса в электронной форме. Уплатить начисленные страховые взносы при отсутствии наемных работников индивидуальный предприниматель может как до, так и сразу после регистрации прекращения деятельности.
                </p>
                <p>
                    Если индивидуальный предприниматель имел наемных сотрудников, то перед внесением сведений в ЕГРИП следует произвести с работниками полный расчет и обратиться в Пенсионный фонд и Фонд социального страхования для сдачи необходимой отчетности, уплаты страховых взносов и снятия с учета.
                </p>
                <p>
                    Следует иметь в виду, что в отличие от юридического лица, индивидуальный предприниматель не освобождается от уплаты налогов, страховых взносов, штрафов, пени и других задолженностей, полученных во время ведения предпринимательской деятельности, даже после государственной регистрации ее прекращения и продолжает нести эти обязанности как физическое лицо, поскольку его предпринимательская деятельность неразрывно связана с его личностью.
                </p>
                <p>
                    Мы оказываем услуги по регистрации и осуществляем комплексное юридическое и бухгалтерское сопровождение деятельности индивидуальных предпринимателей.
                </p>
                <h2><span id="Nasi_uslugi">Наши услуги</span></h2>
                <ul>
                    <li>Консультации по юридическим и налоговым вопросам деятельности ИП, консультации по выбору оптимальной системы налогообложения для ИП;</li>
                    <li>Комплексная регистрация в качестве индивидуального предпринимателя «под ключ»;</li>
                    <li>Подача заявления о применении упрощенной системы налогообложения (при необходимости);</li>
                    <li>Ведение бухгалтерского учета, сдача отчетности;</li>
                    <li>Сопровождение государственной регистрации изменений сведений об ИП: смена паспортных данных, места жительства, видов экономической деятельности;</li>
                    <li>Сопровождение государственной регистрации прекращения деятельности в качестве ИП.</li>
                </ul>
            </td>
            <td width="190" cellpadding="5" valign="top" align="center" bgcolor="#ff8000">
                <a href="https://yandex.ru/maps/org/gestion/111981490684/reviews/?ll=37.569657%2C55.762256&z=18">
                    <img src="images/5-star.jpeg" width="170" height="111" align="middle">
                </a>
                <BR><BR>
                <a href="https://www.google.com/search?q=%D0%B3%D0%B5%D1%81%D1%82%D0%B8%D0%BE%D0%BD+%D0%BC%D0%BE%D1%81%D0%BA%D0%B2%D0%B0+%D0%BA%D1%80%D0%B0%D1%81%D0%BD%D0%B0%D1%8F+%D0%BF%D1%80%D0%B5%D1%81%D0%BD%D1%8F+24&sxsrf=ALeKk01Mb2_GU_LFxLtKeNTcAqb_uRJdNA%3A1625671362218&ei=wsblYJX6DK2yrgTNjKaACA&oq=%D0%B3%D0%B5%D1%81%D1%82%D0%B8%D0%BE%D0%BD+%D0%BC%D0%BE%D1%81%D0%BA%D0%B2%D0%B0+%D0%BA%D1%80%D0%B0%D1%81%D0%BD%D0%B0%D1%8F+%D0%BF%D1%80%D0%B5%D1%81%D0%BD%D1%8F+24&gs_lcp=Cgdnd3Mtd2l6EAMyBQghEKABOgcIABBHELADOgYIABAWEB46BAghEBU6BwghEAoQoAFKBAhBGABQ-3NYjZ4BYOCiAWgBcAJ4AIABsQGIAZ4MkgEEMTguMZgBAKABAaoBB2d3cy13aXrIAQjAAQE&sclient=gws-wiz&ved=0ahUKEwiV48PgodHxAhUtmYsKHU2GCYAQ4dUDCA4&uact=5#lrd=0x46b54abe5d52742d:0xa998db88ab6d64c9,1,,,">
                    <img src="images/google.png" width="170" height="111" align="middle">
                </a>
                <BR><BR>
                <a href="https://2gis.ru/moscow/firm/4504128908852077/tab/reviews">
                    <img src="images/2gis.png" width="170" height="111" align="middle">
                </a>
            </td>
        </tr>

    </table>


</body>

<footer>
    <table border="0" width=100% cellpadding="5" cellpadding="0" align="center" bgcolor="#ffba2c">
        <tr>
            <td>
                <p align="center">
                    © Все права защищены - 2024 <br> <a href="https://gestion.ru/wp-content/uploads/2022/07/politika-konfidenczialnosti.pdf" target="_blank" rel="noopener">Политикa конфиденциальности</a>
                </p>
            </td>
        </tr>
    </table>
</footer>

</html>