
<body>
    <table border="0" width=100% cellpadding="0" cellspacing="0" align="center" bgcolor="#ff8000">
        <tr>
            <td align="left" width="200" height="111"><img src="images/logo.jpg" <!--width="200" height="111"--> <!--align="middle"--></td>
            <td align="middle"><H1>Гестион</H1></td>
            <td width="200">
                <table cellpadding="5" width="100%">
                    <tr>
                        <td align="right"><input type="text" value="логин"></td>
                    </tr>
                    <tr>
                        <td align="right"><input type="password" value="логин"></td>
                    </tr>
                    <tr>
                        <td align="right"><input type="submit" value="войти">&nbsp;<A HREF="#">регистрация</A></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table border="0" width=100% cellpadding="5" cellpadding="0" align="center" bgcolor="#ffba2c">
        <tr>
            <td align="center"><a href="#">Главная</a></td>
            <td align="center"><a href="#">О нас</a></td>
            <td align="center"><a href="#">История фирмы</a></td>
            <td align="center"><a href="#">Сотрудники</a></td>
            <td align="right"><input type="text" value="поиск"> <input type="button" value="искать"></td>
        </tr>
    </table>
   
    <table border="0" width=100% cellpadding="5" cellpadding="0" align="center">
        <tr>
            <td width="150" cellpadding="5" valign="top" align="center" bgcolor="#ff8000">
                <a href="index.html">Главная</a><BR>
                <a href="us.html">О нас</a><BR>
                <a href="catalog.html">Каталог</a><BR>
                <a href="contacts.html">Контакты</a>
            <td>
            <td>
                <H1 align="center">OOO</H1>
                <h2 class="elementor-heading-title elementor-size-default"><span id="Otkryt_OOO_bystro_i_prosto_s_Gestion">Открыть ООО: быстро и просто с «Гестион»</span></h2>		</div>
                </div>
                <div class="elementor-element elementor-element-cbecfc4 elementor-widget elementor-widget-text-editor" data-id="cbecfc4" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        Компания «Гестион» предлагает комплекс услуг по регистрации ООО «под ключ». В пакет входит не только сама регистрация, но и консультация по выбору ОКВЭД, консультация по выбору наиболее выгодной формы налогообложения, получение печати, предоставление бесплатного расчетного счета. Услуга
                        предоставляется как онлайн, так и офлайн. Открытие ООО с опытными юристами существенно снизит риски для вашего бизнеса и убережет от расходов в будущем.
                    </div>
                </div>
                <div class="elementor-element elementor-element-4ef5129 elementor-widget elementor-widget-heading" data-id="4ef5129" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default"><span id="Preimusestva_registracii_firmy_s_uristami">Преимущества регистрации фирмы с юристами</span></h2>
                    </div>
                </div>
                </div>
                </div>
                </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-86b29ce elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="86b29ce" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-7637aed" data-id="7637aed" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-a450469 elementor-widget elementor-widget-image" data-id="a450469" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <img decoding="async" width="96" height="96" src="https://www.gestion.ru/wp-content/uploads/2022/05/free1.svg" class="attachment-profile_96 size-profile_96 wp-image-16423" alt="Расчетный счет бесплатно">
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-ed2c834 elementor-widget elementor-widget-heading" data-id="ed2c834" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default">Расчетный счет  бесплатно</h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-d3ea3e1 elementor-widget elementor-widget-text-editor" data-id="d3ea3e1" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <p style="text-align: center;">Открытие расчетного счета для бизнеса бесплатно в банках-партнерах, без выезда в банк</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-96edd6c" data-id="96edd6c" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-86e7c00 elementor-widget elementor-widget-image" data-id="86e7c00" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <img loading="lazy" decoding="async" width="96" height="94" src="https://www.gestion.ru/wp-content/uploads/2022/05/one2.svg" class="attachment-profile_96 size-profile_96 wp-image-16427" alt="Регистрация ООО в одно посещение">
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-a352a8e elementor-widget elementor-widget-heading" data-id="a352a8e" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default">Регистрация в одно посещение</h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-13e2e20 elementor-widget elementor-widget-text-editor" data-id="13e2e20" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <p style="text-align: center;">Оформление фирмы в одно посещение (доставку документов для регистрации осуществляет курьер). У нас есть офисы в Москве и Санкт-Петербурге.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-2f7d979" data-id="2f7d979" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-c7703eb elementor-widget elementor-widget-image" data-id="c7703eb" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <img loading="lazy" decoding="async" width="96" height="96" src="https://www.gestion.ru/wp-content/uploads/2022/05/browser.svg" class="attachment-profile_96 size-profile_96 wp-image-16425" alt="Регистрация ООО полностью онлайн">
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-5b101b9 elementor-widget elementor-widget-heading" data-id="5b101b9" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default">Либо полностью онлайн</h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-d97d571 elementor-widget elementor-widget-text-editor" data-id="d97d571" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <p style="text-align: center;">Зарегистрируем организацию полностью в электронном виде с помощью электронной подписи учредителя без посещения нотариуса и даже нашего офиса</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-b5ea881" data-id="b5ea881" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-028f1c3 elementor-widget elementor-widget-image" data-id="028f1c3" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <img loading="lazy" decoding="async" width="94" height="96" src="https://www.gestion.ru/wp-content/uploads/2022/05/badge.svg" class="attachment-profile_96 size-profile_96 wp-image-16428" alt="ООО под ключ">
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-d9bc707 elementor-widget elementor-widget-heading" data-id="d9bc707" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default">Сопровождение «под ключ»</h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-cd02472 elementor-widget elementor-widget-text-editor" data-id="cd02472" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <p style="text-align: center;">Полное сопровождение на всех этапах и представление интересов клиента, в том числе у нотариуса и в ИФНС</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-aa06065 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="aa06065" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-217cd89" data-id="217cd89" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-9745c9e elementor-widget elementor-widget-heading" data-id="9745c9e" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default"><span id="Stoimost_uslug_po_registracii_OOO">Стоимость услуг по регистрации ООО</span></h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-2dd3874 elementor-widget elementor-widget-price-list" data-id="2dd3874" data-element_type="widget" data-widget_type="price-list.default">
                                    <div class="elementor-widget-container">

                                        <ul class="elementor-price-list">

                                            <li class="elementor-price-list-item">
                                                <div class="elementor-price-list-text">
                                                    <div class="elementor-price-list-header">
                                                        <h5 class="elementor-price-list-title">
                                                            Регистрация ООО «под ключ»
                                                        </h5>
                                                        <span class="elementor-price-list-separator"></span>
                                                        <span class="elementor-price-list-price">от 6900₽</span>
                                                    </div>
                                                    <p class="elementor-price-list-description">
                                                        Государственной пошлины нет. По электронной цифровой подписи нотариуса или заявителя. «Под ключ» — 4 дня.
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-912dc5f docs-list elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="912dc5f" data-element_type="widget" data-widget_type="icon-list.default">
                                    <div class="elementor-widget-container">
                                        <ul class="elementor-icon-list-items">
                                            <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon">
                                                    <i aria-hidden="true" class="fas fa-chevron-right"></i>
                                                </span>
                                                <span class="elementor-icon-list-text">Снизим финансовые риски;</span>
                                            </li>
                                            <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon">
                                                    <i aria-hidden="true" class="fas fa-chevron-right"></i>
                                                </span>
                                                <span class="elementor-icon-list-text">Поможем подобрать выгодную систему налогообложения;</span>
                                            </li>
                                            <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon">
                                                    <i aria-hidden="true" class="fas fa-chevron-right"></i>
                                                </span>
                                                <span class="elementor-icon-list-text">Поможем подобрать верный ОКВЭД;</span>
                                            </li>
                                            <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon">
                                                    <i aria-hidden="true" class="fas fa-chevron-right"></i>
                                                </span>
                                                <span class="elementor-icon-list-text">Не нужно платить пошлину 4000 руб.</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-8c6a38c elementor-widget elementor-widget-button" data-id="8c6a38c" data-element_type="widget" data-widget_type="button.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-button-wrapper">
                                            <a class="elementor-button elementor-button-link elementor-size-sm" href="/contacts/#mail">
                                                <span class="elementor-button-content-wrapper">
                                                    <span class="elementor-button-text">Оставить заявку</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6f68ffc" data-id="6f68ffc" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-89d3044 elementor-widget elementor-widget-heading" data-id="89d3044" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default">В результате вы получите полный пакет документов для ООО:</h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-ee281cc docs-list elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="ee281cc" data-element_type="widget" data-widget_type="icon-list.default">
                                    <div class="elementor-widget-container">
                                        <ul class="elementor-icon-list-items">
                                            <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon">
                                                    <i aria-hidden="true" class="fas fa-check-circle"></i>
                                                </span>
                                                <span class="elementor-icon-list-text">Лист записи о государственной регистрации юридического лица (на бумаге или в электронном виде);</span>
                                            </li>
                                            <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon">
                                                    <i aria-hidden="true" class="fas fa-check-circle"></i>
                                                </span>
                                                <span class="elementor-icon-list-text">Свидетельство о постановке на учет ООО в налоговом органе (на бумаге или в электронном виде);</span>
                                            </li>
                                            <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon">
                                                    <i aria-hidden="true" class="fas fa-check-circle"></i>
                                                </span>
                                                <span class="elementor-icon-list-text">Устав ООО (на бумаге или в электронном виде);</span>
                                            </li>
                                            <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon">
                                                    <i aria-hidden="true" class="fas fa-check-circle"></i>
                                                </span>
                                                <span class="elementor-icon-list-text">Решение о создании Общества (в случае единственного учредителя) или протокол общего собрания учредителей (в случае, если учредителей несколько);</span>
                                            </li>
                                            <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon">
                                                    <i aria-hidden="true" class="fas fa-check-circle"></i>
                                                </span>
                                                <span class="elementor-icon-list-text">Приказ о вступлении в должность генерального директора;</span>
                                            </li>
                                            <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon">
                                                    <i aria-hidden="true" class="fas fa-check-circle"></i>
                                                </span>
                                                <span class="elementor-icon-list-text">Приказ о назначении главного бухгалтера (или возложения обязанностей главного бухгалтера на генерального директора);</span>
                                            </li>
                                            <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon">
                                                    <i aria-hidden="true" class="fas fa-check-circle"></i>
                                                </span>
                                                <span class="elementor-icon-list-text">Уведомление о присвоении кодов статистики (в электронном виде).</span>
                                            </li>
                                        </ul>
            </td>
            <td width="190" cellpadding="5" valign="top" align="center" bgcolor="#ff8000">
                <a href="https://yandex.ru/maps/org/gestion/111981490684/reviews/?ll=37.569657%2C55.762256&z=18">
                    <img src="images/5-star.jpeg" width="170" height="111" align="middle">
                </a>
                <BR><BR>
                <a href="https://www.google.com/search?q=%D0%B3%D0%B5%D1%81%D1%82%D0%B8%D0%BE%D0%BD+%D0%BC%D0%BE%D1%81%D0%BA%D0%B2%D0%B0+%D0%BA%D1%80%D0%B0%D1%81%D0%BD%D0%B0%D1%8F+%D0%BF%D1%80%D0%B5%D1%81%D0%BD%D1%8F+24&sxsrf=ALeKk01Mb2_GU_LFxLtKeNTcAqb_uRJdNA%3A1625671362218&ei=wsblYJX6DK2yrgTNjKaACA&oq=%D0%B3%D0%B5%D1%81%D1%82%D0%B8%D0%BE%D0%BD+%D0%BC%D0%BE%D1%81%D0%BA%D0%B2%D0%B0+%D0%BA%D1%80%D0%B0%D1%81%D0%BD%D0%B0%D1%8F+%D0%BF%D1%80%D0%B5%D1%81%D0%BD%D1%8F+24&gs_lcp=Cgdnd3Mtd2l6EAMyBQghEKABOgcIABBHELADOgYIABAWEB46BAghEBU6BwghEAoQoAFKBAhBGABQ-3NYjZ4BYOCiAWgBcAJ4AIABsQGIAZ4MkgEEMTguMZgBAKABAaoBB2d3cy13aXrIAQjAAQE&sclient=gws-wiz&ved=0ahUKEwiV48PgodHxAhUtmYsKHU2GCYAQ4dUDCA4&uact=5#lrd=0x46b54abe5d52742d:0xa998db88ab6d64c9,1,,,">
                    <img src="images/google.png" width="170" height="111" align="middle">
                </a>
                <BR><BR>
                <a href="https://2gis.ru/moscow/firm/4504128908852077/tab/reviews">
                    <img src="images/2gis.png" width="170" height="111" align="middle">
                </a>
            </td>
        </tr>

    </table>


</body>
