
<head>
    <title>Гестион</title>
</head>
<body>
   
  
    <table border="0" width=100% cellpadding="5" cellpadding="0" align="center">
        <tr>
            <td>
                <H1 align="center">О нас</H1>
                <H2 align="center">Нашa история</H2>
                <p><b>2005 год</b>. Основание компании «Гестион». Основными сферами деятельности на тот момент являлись регистрация юридических лиц в РФ и международное налоговое планирование. </p><p><b>2009</b><b> год</b>. На базе существующей компании была сформирована Санкт-Петербургская коллегия адвокатов «Гестион», объединившая сильных и опытных юристов. </p><p><b>2010</b><b> год</b>. Коллегия адвокатов преобразована в Адвокатское бюро Санкт-Петербурга «Гестион». </p><p><b>2013</b><b> год</b>. Открыт офис компании в Москве. </p><p style="font-size: 16px; font-style: normal; font-weight: 400;">На сегодняшний день компания не останавливается в развитии и продолжает расширение сфер деятельности. Мы получаем новые возможности, которые помогают воплощать бизнес-идеи наших клиентов в жизнь и обеспечивают стабильную защиту их бизнеса.</p>						</div>
                <H2 align="center">Нашa работа</H2>
                <p>Мы ежедневно решаем юридические задачи и за время своей деятельности приобрели прочную репутацию. </p>
                <p>Нами подготовлены десятки статей по правовым вопросам, опубликованных в различных изданиях.</p>
                <p>Мы внимательно относимся к качеству предоставляемых услуг и рады, что ожидания наших клиентов оправдываются. С их отзывами Вы можете ознакомиться в разделе «<b>Нас рекомендуют</b></a><span style="font-size: 16px;">»</span>.</p>
            </td>
        </tr>

    </table>

</body>
